body {
    font-family: Helvetica, serif;
    background-color: #141414;
}

h1, h2, h3, h4 {
    color: #ffffff;
}

p {
    color: #6b6b6b;
}

a {
    text-decoration: none;
    color: #57fddc;
}

.logo {
    margin-left: 3em;
    cursor: pointer;
}

.navigation {
    display: inline;
    float: right;
}

.navigation-element {
    list-style: none;
    display: inline-block;
    margin: 1em 2em 2em 0;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 4em;
    letter-spacing: 15px;
}

.subtitle {
    color: #6b6b6b;
    text-transform: uppercase;
}

.project-card {
    border: 1px solid #57fddc;
}

.blog-card {
    border: 1px solid #57fddc;
}

.navigation-element::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #57fddc;
}
.bar::before {
    width: 0;
    bottom: 10px;
}

.bar:hover::before {
  width: 100%;
}