.blog-post-header {
    text-align: left;
}

.blog-post-title {
    margin-top: 2em;
    margin-bottom: 0.3em;
    margin-left: 20vw;
    font-size: 2.5em;
    text-align: left;
}

.blog-post-date {
    margin-left: 20vw;
}

.blog-post-content {
    text-align: left;
    margin-top: 3em;
    margin-left: 20vw;
    margin-right: 30vw;
    font-size: 1em;
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 600px) {
    .blog-post-header {
        margin-top: 8em;
    }

    .blog-post-title {
        font-size: 1.3em;
        text-align: left;
    }

    .blog-post-content {
        margin-bottom: 3em;
        margin-right: 3em;
    }
}