body {
    overflow-x: hidden;
}

.projects-title {
    margin-top: 1.5em;
}

.projects-subtitle {
    text-align: left;
    margin-left: 6em;
    margin-right: 6em;
    text-transform: none;
}

.cards {
    display: flex;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 3em;
    margin-bottom: 6em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*align-content: flex-start;*/
}

.project-card {
    /*flex: 30%;*/
    width: 340px;
    height: 320px;
    margin-top: 3em;
    margin-right: 2em;
    color: #141414;
    background-color: #ededed;
}

.card-text {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 100;
    margin: 0;
    background-color: #ededed;
    position: relative;
}

.project-title {
    color: #141414;
    margin: 0;
}

.thumbnail {
    width: 340px;
    height: 200px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.card-description {
    display: none;
}

@media only screen and (max-width: 600px) {
    .projects-title {
        margin-top: 5em;
    }

    .projects-subtitle {
        margin-left: 3em;
        margin-right: 3em;
    }

    .cards {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        flex-direction: column;
    }

    .project-card {
        width: 340px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 7em;
    }

    .card-text {
        height: 80px;
    }
}