.project-details-header {
    text-align: left;
}

.project-details-title {
    margin-top: 2em;
    margin-bottom: 0.3em;
    margin-left: 20vw;
    font-size: 2.5em;
    text-align: left;
}

.repo-link {
    color: #ffffff;
    transition: color 0.3s ease;
    margin-right: 1em;
}

.git {
    margin-left: 20vw;
}

.project-details-description {
    text-align: left;
    margin: 3em 30vw 5em 20vw;
    font-size: 1em;
    letter-spacing: 1.5px;
}

.project-details-technologies {
    text-align: left;
    margin-top: 3em;
    margin-left: 20vw;
}

.project-details-technologies h3 {
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 5px;
}

.project-details-technologies p {
    text-transform: uppercase;
}

.repo-link:hover {
    color: #57fddc;
}


@media only screen and (max-width: 600px) {
    .project-details-header {
        display: flex;
        flex-direction: row;
        margin-top: 6em;
        margin-right: 3em;
        text-align: center;
    }

    .project-details-title {
        font-size: 1.3em;
        text-align: left;
        margin-left: 10vw;
    }

    .repo-link {
        font-size: 2.5em;
        padding-top: 1.5em;
        margin-right: 0.3em;
    }

    .git {
        margin-left: 0;
    }

    .project-details-description {
        margin-left: 10vw;
        margin-right: 3em;
        margin-bottom: 5em;
    }

    .project-details-technologies {
        text-align: left;
        margin-left: 10vw;
    }
}
