{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <title>About Dimo Dimchev</title>
    <meta name="description"
          content="This is where you can learn more about Dimo Dimchev and what he does and how to contact him"/>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
    <header class="about-header">
        <h1 class="title about-title">About me</h1>
    </header>
    <div class="container contact">
        <h2>Contact me here:</h2>
        <ul>
            <li>Email: <p class="cta primary-cta about-cta"><a href="mailto:ddimchev7@gmail.com">ddimchev7@gmail.com</a>
            </p></li>
            <li>Phone: <p class="cta primary-cta about-cta"><a href="tel:+359877247771">+359 877 247 771</a></p></li>
            <li>Github: <p class="ct primary-cta about-cta"><a href="https://github.com/DimoDimchev">Dimo Dimchev</a>
            </p></li>
            <li>LinkedIn: <p class="primary-cta about-cta"><a href="https://www.linkedin.com/in/dimodimchev/">Dimo
                Dimchev</a></p></li>
        </ul>
    </div>
    <div class="container introduction">
        <h2>A small introduction</h2>
        <p>{{ profile_description.introduction | linebreaks}}</p>
    </div>
    <div class="container contact stack">
        <h2>My tech stack:</h2>
        <ul>
            {% for skill in profile_description.personal_skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}