{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <title>{{ blogpost.title }}: A Dimo Dimchev Post</title>
    <meta name="description" content="This is Dimo Dimchev's {{ blogpost.title }} blog post"/>
    <link rel="stylesheet" href="{% static 'css/blog_details.css' %}">
{% endblock %}
{% block content %}
    <header class="blog-post-header">
        <h1 class="title blog-post-title">{{ blogpost.title }}</h1>
        <p class="subtitle blog-post-date">{{ blogpost.date }}</p>
    </header>
    <div class="blog-post-content">
        <p class="blog-post-p">{{ blogpost.content | linebreaks }}</p>
    </div>
{% endblock %}