{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <title>Dimo Dimchev</title>
    <meta name="description"
          content="Dimo Dimchev's personal website. Here you can learn more about Dimo Dimchev, see his top projects and recent blog posts. You can also learn how to contact Dimo Dimchev"/>
    <meta name="title" property="og:title" content="Dimo Dimchev's Personal Website">
    <meta property="og:type" content="website">
    <meta name="image" property="og:image" content="https://drive.google.com/file/d/1wI0K-kEtqAwJ9YErJYoiDfvv9ysDNSiV/view?usp=sharing">
    <meta name="description" property="og:description" content="Here you can learn more about Dimo Dimchev, see his top projects and recent blog posts. You can also learn how to contact Dimo Dimchev">
    <meta name="author" content="Dimo Dimchev">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <header>
        <h1 class="title">Hello, my name is Dimo Dimchev</h1>
        <div class="carousel">
            <!-- Use classes 2,3, or 4 to match the number of words -->
            <p class="subtitle">I am a </p>
            <ul class="flip4">
                <li class="carousel-element"><p class="subtitle">IT Enthusiast</p></li>
                <li class="carousel-element"><p class="subtitle">Student</p></li>
                <li class="carousel-element"><p class="subtitle">Web Developer</p></li>
                <li class="carousel-element"><p class="subtitle">Perfectionist</p></li>
            </ul>
        </div>
        <div class="buttons">
            <a href="{% url 'projects' %}"><p class="subtitle cta primary-cta">Look at my projects</p></a>
            <a href="{% url 'about' %}"><p class="subtitle cta secondary-cta">Learn more about me</p></a>
        </div>
    </header>
{% endblock %}