{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <title>{{ project.name }}A Dimo Dimchev Project</title>
    <meta name="description" content="This is Dimo Dimchev's {{ project.name }} project. {{ project.short_description }}"/>
    <link rel="stylesheet" href="{% static 'css/project_details.css' %}">
{% endblock %}
{% block content %}
    <header class="project-details-header">
        <h1 class="title project-details-title">{{ project.name }}</h1>
        <a href="{{ project.github }}"><i class="fa fa-github fa-3x repo-link git" aria-hidden="true"></i></a>
        {% if project.website %}
            <a href="{{ project.website }}"><i class="fa fa-chrome fa-3x repo-link" aria-hidden="true"></i></a>
        {% endif %}
    </header>
    <div class="project-details-technologies">
        <h3 class="subtitle">Used technologies:</h3>
        <p>{{ project.used_technologies }}</p>
    </div>
    <div class="project-details-description">
        <p>{{ project.description|linebreaks }}</p>
    </div>
{% endblock %}