{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <title>Dimo Dimchev's Projects</title>
    <meta name="description" content="This is a showcase of Dimo Dimchev's best and most interesting projects. You can select a project and read more about it"/>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block content %}
    <header>
        <h1 class="title projects-title">Projects</h1>
        <p class="subtitle projects-subtitle">This is a showcase of some of my favourite and most interesting projects.
            You will find information on the technologies I've used for each project</p>
    </header>
    <div class="cards">
        {% for project in object_list %}
            <a href="{% url 'project details' pk=project.id %}">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3 class="project-title">{{ project.name }}</h3>
                        </div>
                        <div class="flip-card-back">
                            <p class="card-description">{{ project.short_description }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}