{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block content %}
    <header>
        <h1 class="title projects-title">Projects go here</h1>
        <p class="subtitle projects-subtitle">This is a showcase of some of my favourite and most interesting projects.
            You will find information on the technologies I've used for each project</p>
    </header>
    <div class="cards">
        {% for project in object_list %}
            <div class="project-card">
                <img class="thumbnail" src="{{ project.image.url }}" alt="Project thumbnail">
                <div class="card-text">
                    <a href="{% url 'project details' pk=project.id %}"><h3
                            class="project-title">{{ project.name }}</h3></a>
                    <p>Used technologies: {{ project.used_technologies }}</p>
                    <p class="card-description">{{ project.short_description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}