{% extends 'shared/base.html' %}
{% load static %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block content %}
    <header>
        <h1 class="title">Projects go here</h1>
        <p class="subtitle"></p>
    </header>
    {% for project in object_list %}
        <div class="project-card">
            <a href="{% url 'project details' pk=project.id %}"><h3>{{ project.name }}</h3></a>
            <p>Used technologies: {{ project.used_technologies }}</p>
            <p>{{ project.short_description }}</p>
        </div>
    {% endfor %}
{% endblock %}