{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/c9ea60dbf3.js" crossorigin="anonymous"></script>
    {#  Google Analytics stuff  #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-789N0WLW3T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-789N0WLW3T');
    </script>
    {% block head_content %}
    {% endblock %}
</head>
<body>
<div class="page-container">
    <div class="content-wrap">
        {% include 'partials/navbar.html' %}
        {% include 'partials/logo.html' %}
        {% block content %}
        {% endblock %}
    </div>
    {% include 'partials/footer.html' %}
</div>
<script>
    let yearP = document.getElementsByClassName('year')[0];
    yearP.innerHTML = new Date().getFullYear();
</script>
</body>
</html>